<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi E-commerce - Coderhouse</title>
<style>
    body { font-family: 'Segoe UI', sans-serif; padding: 20px; background-color: #f4f4f4; margin: 0; }
    
    /* Contenedor de la grilla */
    .container { 
        display: grid; 
        grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
        gap: 20px; 
        max-width: 1200px; 
        margin: 0 auto; 
    }

    .product-card { 
        border: 1px solid #ddd; 
        background: white; 
        padding: 20px; 
        border-radius: 12px; 
        box-shadow: 0 4px 6px rgba(0,0,0,0.05);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 350px;
    }

    .btn { 
        padding: 10px; 
        background: #007bff; 
        color: white; 
        text-decoration: none; 
        border-radius: 6px; 
        border: none;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
    }
    
    .btn:hover { background: #0056b3; }
</style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    {{{body}}}
</body>
</html>